POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo

ODOO_DB_FILTER=^odoo_surpay$
ODOO_PROXY_MODE=True
ODOO_WORKERS=4
ODOO_MAX_CRON_THREADS=2
ODOO_LIMIT_TIME_CPU=60
ODOO_LIMIT_TIME_REAL=120
ODOO_LIST_DB=False

LOG_MAX_SIZE=10m
LOG_MAX_FILE=5
BACKUP_RETENTION_DAYS=14
