[databases]
surpay_db = host=db port=5432 user=POSTGRES_USER dbname=POSTGRES_DB password=POSTGRES_PASSWORD

[pgbouncer]
listen_port = 6432
listen_addr = 0.0.0.0
auth_type = plain
auth_file = /etc/pgbouncer/users.txt

pool_mode = transaction
max_client_conn = 1000
default_pool_size = 25
min_pool_size = 5
reserve_pool_size = 5
reserve_pool_timeout = 3

server_lifetime = 3600
server_idle_timeout = 600
idle_in_transaction_session_timeout = 30000

admin_users = pgbouncer
log_connections = 1
log_disconnections = 1
